@import "src/breakpoints";

.adv__etl-v-filters {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px dotted grey;

  > label {
    padding: 0.3rem 0;
  }

  > select {
    margin-bottom: 1rem;
  }

  > button {
    line-height: 2rem;
  }
}
